<div class="container-fluid p-0 m-0">
  <div class="content row p-0 m-0">
    <div class="col-sm p-0 m-0 d-flex content-left flex-column">
      <div class="count">
        <div class="road-to-100m d-flex">
          <button type="button" class="btn btn-count">Hành trình 100M</button>
          <span class="d-inline-flex align-items-center ms-4">Hiện tại:</span>
          <div
            class="text-center mount d-flex align-items-center justify-content-center current-money"
          >
            {{ totalMoney | number: "1.0-0" }}
          </div>
        </div>
        <div class="input-group d-flex flex-row">
          <input
            type="text"
            class="form-control add-money"
            aria-label="Amount (to the nearest dollar)"
            [(ngModel)]="addMoney"
          />
          <button
            type="button"
            class="btn btn-success add-love"
            (click)="addLove()"
          >
            Thêm yêu thương
          </button>
        </div>
      </div>
      <button (click)="showModal()" class="btn btn-primary btn-message">
        <span>Tin nhắn</span>
      </button>
      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="Nhắn gửi yêu thương"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
      >
        <ng-container *nzModalContent>
          <div class="content-message" *ngFor="let item of listMessage">
            <div class="time-message text-center">{{ item.time }}</div>
            <div class="detail-message mt-2 mb-2">{{ item.message }}</div>
          </div>
          <div class="send-message d-flex align-items-center p-3 ps-0 pe-0">
            <textarea rows="4" nz-input [(ngModel)]="addMessage"></textarea>
            <button
              nz-button
              nzType="primary"
              class="ms-3"
              (click)="sendMessage()"
            >
              Gửi
            </button>
          </div>
        </ng-container>
      </nz-modal>

      <div class="emiu">
        <img src="../assets/emiu.jpg" alt="" srcset="" />
      </div>
    </div>
    <div class="col-sm p-0 m-0 d-flex content-right flex-row">
      <div class="history">
        <button type="button" class="btn btn-list">Danh sách</button>
        <div class="list-table-history">
          <table class="table table-list">
            <thead>
              <tr>
                <th scope="col">Tình cảm</th>
                <th scope="col">Thời gian trao tình cảm</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listHistory" class="table-success">
                <td>{{ item.money | number: "1.0-0" }}</td>
                <td>{{ item.time }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
